{% if app.user %}
    <li class="margin dropdown-header" role="presentation">
        <i class="fa fa-user"></i>
        {{ 'You are logged in as %name%'|trans({'%name%' : app.user.name}, "GalvesbandTraUserBundle") }}
    </li>
    <li class="user-footer">
        <div class="pull-left">
            <a class="btn btn-default btn-flat" href="{{ path('admin_galvesband_trauser_user_show', {'id' : app.user.id}) }}">
                <i class="fa fa-user"></i>
                {{ 'Profile'|trans({}, "GalvesbandTraUserBundle") }}
            </a>
        </div>
        <div class="pull-right">
            <a class="btn btn-default btn-flat" href="{{ path('logout') }}">
                <i class="fa fa-close"></i>
                {{ 'Logout' | trans({}, "GalvesbandTraUserBundle") }}
            </a>
        </div>
    </li>
{% else %}
    <li class="user-footer">
        <div class="pull-right">
            <a class="btn btn-default btn-flat" href="{{ path('login') }}">
                <i class="fa fa-user"></i>
                {{ 'Identify'|trans({}, 'GalvesbandTraUserBundle') }}
            </a>
        </div>
    </li>
{% endif %}
