{% if app.user %}
    <li role="presentation" class="dropdown-header">
        <i class="fa fa-user"></i>
        {{ 'You are logged in as %name%'|trans({'%name%' : app.user.name}, "GalvesbandTraUserBundle") }}
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path('admin_galvesband_trauser_user_show', {'id' : app.user.id}) }}">
            {{ 'See your profile'|trans({}, "GalvesbandTraUserBundle") }}
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path('admin_galvesband_trauser_group_list') }}">
            {{ 'Change password' | trans({}, "GalvesbandTraUserBundle") }}
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path('logout') }}">
            {{ 'Logout' | trans({}, "GalvesbandTraUserBundle") }}
        </a>
    </li>
{% else %}
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path('login') }}">
            {{ 'Identify'|trans({}, 'GalvesbandTraUserBundle') }}
        </a>
    </li>
{% endif %}
