{% extends "@GalvesbandTraUser/layout.html.twig" %}

{% block tra_user_stylesheets %}
    <style>
        form {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        input#username {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        input#password {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block tra_user_content %}

    {% if error %}
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-danger alert-error">
                    {{ error|trans({}) }}
                </div>
            </div>
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <h2>{{ 'Authentication'|trans({}, 'GalvesbandTraUserBundle') }}</h2>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <label for="username" class="sr-only">{{ 'User name'|trans({}, 'GalvesbandTraUserBundle') }}</label>
        <input type="text" class="form-control" id="username" name="_username" placeholder="{{ 'User name'|trans({}, 'GalvesbandTraUserBundle') }}" value="{{ last_username }}" required autofocus>

        <label for="password" class="sr-only">{{ 'Password'|trans({}, 'GalvesbandTraUserBundle') }}</label>
        <input type="password" class="form-control" id="password" name="_password" placeholder="{{ 'Password'|trans({}, 'GalvesbandTraUserBundle') }}" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Identify'|trans({}, 'GalvesbandTraUserBundle') }}</button>
    </form>
{% endblock tra_user_content %}
