{% extends '@GalvesbandTraUser/layout.html.twig' %}

{% block tra_user_title %}
    {{ 'Your new password'|trans({}, 'GalvesbandTraUserBundle') }}
{% endblock %}

{% block tra_user_stylesheets %}

{% endblock %}

{% block tra_user_content %}
    <h2>{{ 'Your new password'|trans({}, 'GalvesbandTraUserBundle') }}</h2>
    <p>
        {{ 'recovered_password_info'|trans({'%name%' : user_name}, 'GalvesbandTraUserBundle') }}
    </p>
    <p>
        {{ "This is your new password: '%new_password%'. Use it in the authentification form to log in and set your own."|trans({'%new_password%', new_password}, 'GalvesbandTraUserBundle') }}
    </p>
    <ul>
        <li>
            <a href="{{ path('login') }}">{{ 'Go to the Authentication page'|trans({}, 'GalvesbandTraUserBundle') }}</a>
        </li>
    </ul>
{% endblock %}

